@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Lalezar&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Lalezar", system-ui;
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b163f;
  color: white;
  padding: 20px;
  font-family: "Lalezar", system-ui;
  overflow: hidden;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("img/1.png") no-repeat center center;
  background-size: cover;
  animation: slideIn 1.5s ease-out forwards, fadeIn 1s ease-in forwards;
  z-index: -1;
}

@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(20px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 4, 62, 0.7);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px 40px;
  max-width: 500px;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  animation: containerSlideIn 1s ease-out forwards;
}

@keyframes containerSlideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
}

select,
input,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  background-color: white;
  color: #0b163f;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #bfbfbf;
}

h3 {
  padding: 2.5%;
}

.top-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
}

.top-buttons button {
  padding: 10px;
  background-color: #fff;
  color: #0b163f;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.top-buttons button:hover {
  background-color: #bfbfbf;
}

.mobile-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  object-position: 160% center;
}

@media (max-width: 768px) {
  body {
    overflow-y: hidden;
  }
  .background-image {
    display: none;
  }

  .mobile-image {
    display: block;
  }
}